<div id="namespaces">
  <h2>Namespaces</h2>
  <div id="namespace_tree">
    <%= render_tree(@namespace_tree) %>
  </div>
</div>


<div id="data_table">
  <table class="keys">
    <thead>
      <tr>
        <th>Key</th>
        <th>Type</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @keys.each do |key| %>
        <tr class="key">
          <td>
            <a href="/keys/<%= key[:key] %>">
              <%= key[:key] %>
            </a>
          </td>

          <td>
            <%= key[:type] %>
          </td>

          <td>
            <%= show(key[:data]) %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

